.main {
    background-color: #f3fcff;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}